<!doctype html>
<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="../../static/stylesheet.css">

<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script src="https://maps.google.com/maps/api/js?sensor=false"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
	var map,marker,gardenByID= {};
    gardenByID = {};
    var route = [];
	var allmarkers = new Array();

    // for Getting Directions
    var directionsService = new google.maps.DirectionsService();
    var directionsDisplay = new google.maps.DirectionsRenderer();
    var userLatLng = new google.maps.LatLng(0,0);

	function initialize(){
		map = new google.maps.Map(document.getElementById('map'),{
				zoom: 12,
				center: new google.maps.LatLng(49.261,-123.1139),
				mapTypeId: google.maps.MapTypeId.TERRAIN
				});

        // for Getting Directions
        directionsDisplay.setMap(map);

        navigator.geolocation.getCurrentPosition(function (position) {
            userLatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
        }, function () {
        });


	}
var i = 0;

{% for g in gardens %}
    gardenByID[{{g.id}}] = {
        name: "{{g.name}}",
        lat: {{g.latitude}},
        lng: {{g.longitude}},
        foodTrees: []
    };
{% endfor %}
{% for g in gardens %}
    {% for tree in g.foodtree_set.all %}
        gardenByID[{{ g.id }}].foodTrees.push({
            food_type: "{{ tree.food_type }}",
            amount : {{ tree.amount }}
        });
    {%  endfor %}
{%  endfor %}


	$(document).ready(function () {

    function activateGardens() {
        // Add Garden click handler
        $('.g').each(function () {
            $(this).click(function(e) {

                var garden = gardenByID[this.id];

                // prevent button click to do the same thing as a table row click
                if($(e.target).is('button')){
                    e.preventDefault();

                    // twitter button click function.
                    if (e.target.id == 'add_tweet'){
                        window.open('form/');
                    }
                    else{
                        displayRoute(garden.lat, garden.lng);
                        $('#directionsstatus').html('you are viewing the route from your current location to ' + garden.name);
                    }

                    return;}

                var center = new google.maps.LatLng(garden.lat, garden.lng);
				clearOverlays();

                if (marker) marker.setMap();
                marker = new google.maps.Marker({map: map, position: center});
                map.panTo(center);
                $('#directionsstatus').html('you are viewing the location of ' + garden.name);


            }).hover(
                function () {this.className = this.className.replace('OFF', 'ON');},
                function () {this.className = this.className.replace('ON', 'OFF');}
            );
        });

    }

	function clearOverlays(){
		for (var i = 0; i < allmarkers.length; i++ ) {
				allmarkers[i].setMap(null);
			}
		allmarkers.length = 0;

        directionsDisplay.set('directions', null);

	}


	function setPoint(){
        var j = 0;

        var imagesmall = {
                url: 'http://img3.wikia.nocookie.net/__cb20100619222000/frontierville/images/f/f3/Apple_Tree_Fruit-icon.png',
                size: new google.maps.Size(71,71),
                origin : new google.maps.Point(0,0),
                anchor: new google.maps.Point(17, 34),
                scaledSize: new google.maps.Size(25,25)
            };

        var imagemedium = {
                url: 'http://img3.wikia.nocookie.net/__cb20100619222000/frontierville/images/f/f3/Apple_Tree_Fruit-icon.png',
                size: new google.maps.Size(71,71),
                origin : new google.maps.Point(0,0),
                anchor: new google.maps.Point(17, 34),
                scaledSize: new google.maps.Size(45,55)
            };
        var imagebig = {
                url: 'http://img3.wikia.nocookie.net/__cb20100619222000/frontierville/images/f/f3/Apple_Tree_Fruit-icon.png',
                size: new google.maps.Size(71,71),
                origin : new google.maps.Point(0,0),
                anchor: new google.maps.Point(17, 34),
                scaledSize: new google.maps.Size(65,65)
            };

		$('.g').each(function(){

            var garden = gardenByID[this.id];

            var foodtrees = gardenByID[this.id].foodTrees;

            var COUNT = 0;

            for (var i=0; i<(foodtrees.length); i++){
                COUNT += parseInt(foodtrees[i].amount);
            }

            if (COUNT  <= 1) {
                allmarkers[j] = new google.maps.Marker({
                    position: new google.maps.LatLng(garden.lat, garden.lng),
                    title: garden.name,
                    icon: imagesmall
                });
            }
            else if (COUNT>1 && COUNT <=4 ){
                allmarkers[j] = new google.maps.Marker({
				position: new google.maps.LatLng(garden.lat, garden.lng),
				title: garden.name,
                icon: imagemedium
            });
            }

            else if (COUNT>4){
                allmarkers[j] = new google.maps.Marker({
				position: new google.maps.LatLng(garden.lat, garden.lng),
				title: garden.name,
                icon: imagebig
            });
            }
                else{
                allmarkers[j] = new google.maps.Marker({
				position: new google.maps.LatLng(garden.lat, garden.lng),
				title: garden.name
			});
            }

			j++;
		});
		for(var i=0;i<j;i++){
			allmarkers[i].setMap(map);
		}

        // JQuery code for Getting Directions.
        google.maps.event.addListener(map, 'click', function(e) {

          });

        google.maps.event.addListener(marker, 'mouseover', function() {
            infowindow.open(map, this);
        });

        google.maps.event.addListener(marker, 'mouseout', function() {
            infowindow.close();
        });
	}

	
    google.maps.event.addDomListener(window, 'load', setPoint);
    activateGardens();

    // JQuery code for Admin View All Users.
    $('#display_users').click(function(){

         $.get('update_users/', function(data){
                   $('#all_users').html(data);
               });
    });
	
    // for Getting Directions
    function displayRoute(lati, long) {

        var center = new google.maps.LatLng(lati, long);
        clearOverlays();
        if (marker) marker.setMap();

        map.panTo(center);

        calcRoute(userLatLng, center);
    }


    function calcRoute(start, end) {

      var request = {
        origin:start,
        destination:end,
        travelMode: google.maps.TravelMode.DRIVING
      };
      route = directionsService.route(request, function(result, status) {
        if (status == google.maps.DirectionsStatus.OK) {
          directionsDisplay.setDirections(result);
        }
        else{
            alert( 'user location disabled. please enable sharing your location' );
        }
      });
    }

});



</script>

<style>

</style>


</head>
<body onload='initialize()'>

	{% include 'garden/home.html' %}
    <div class="box-centerside-left-panel">
      <div class="panel-body">
	{% include 'garden/login.html' %}


    <a href="../">Home</a>

    <br>

    {% if user and not user.is_anonymous and user.is_superuser %}
        <button id ="display_users" class="btn btn-mini btn-primary" type="button">All Users</button>
    {% endif %}
    <div id=user_button></div>
    <div id="all_users"></div>

      </div>
    </div>

    <div class="box-centerside-right-panel">
      <div class="panel-body">
          {% include 'garden/search_criteria.html' %}


    {% if name_of_garden %}
        You are displaying gardens containing keyword: {{ name_of_garden }}
    {% endif %}
    <br>
    {% if name_of_fruit %}
        You are displaying gardens containing fruit type: {{ name_of_fruit }}
    {% endif %}

      </div>
    </div>

    <br>

	<div id=map></div>

    <div id=directionsstatus></div>


    <table>
    <tr>
        <th>Garden</th>

        <th>Latitude</th>

        <th>Longitude</th>

        <th>Fruits in Garden</th>
    </tr>
    {% for g in gardens %}
    <tr id={{g.id}} class='g linkOFF'>
        <td>{{ g.name }}</td>

        <td>{{ g.latitude }}</td>

        <td>{{ g.longitude }}</td>
        <td>
            <ul class="comma-separated">
                {% for tree in g.foodtree_set.all %}
                    <li>{{ tree.food_type }} ({{ tree.amount }})</li>
                {% endfor %}
            </ul>
        </td>

        <td><button id ="display_route" class="btn btn-mini btn-primary" type="button" value="{{ g.latitude }}" name="{{ g.longitude }}">Display Route</button></td>
		<td><button id ="add_tweet" class="btn btn-mini btn-primary" type="button">Tweet</button></td>
		

    </tr>
    {% endfor %}
	</table>

<br>

</body>


</html>
