<!doctype html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
	var map,marker,gardenByID = {};
	var allmarkers = new Array();

	function initialize(){
		map = new google.maps.Map(document.getElementById('map'),{
				zoom: 15,
				center: new google.maps.LatLng(49.261,-123.1139),
				mapTypeId: google.maps.MapTypeId.TERRAIN
				});
	}
	{% for g in gardens %}
	gardenByID[{{g.id}}] = {
		name: "{{g.name}}",
		lat: {{g.latitude}},
		lng: {{g.longitude}}
	};
	{% endfor %}
	
	$(document).ready(function () {
    function activateGardens() {
        // Add Garden click handler
        $('.g').each(function () {
            $(this).click(function() {
                var garden = gardenByID[this.id];
                var center = new google.maps.LatLng(garden.lat, garden.lng);
                if (marker) marker.setMap();
                marker = new google.maps.Marker({map: map, position: center});
                map.panTo(center);
            }).hover(
                function () {this.className = this.className.replace('OFF', 'ON');},
                function () {this.className = this.className.replace('ON', 'OFF');}
            );
        });

    }
	
	function setPoint(){
		var j = 0;
		$('.g').each(function(){
			var garden = gardenByID[this.id];
			allmarkers[j] = new google.maps.Marker({
				position: new google.maps.LatLng(garden.lat, garden.lng),
			});
			j++;
		});
		for(var i=0;i<j;i++){
			allmarkers[i].setMap(map);
		}
	}

	
google.maps.event.addDomListener(window, 'load', setPoint);
    activateGardens();
});



</script>
<style>
	body {font-family: sans-serif}
	#map {width: 1000px; height: 500px}
	#gardens {overflow: auto; width: 500px; height: 100px}
    .linkOFF {color: darkblue}
    .linkON {color: white; background-color: darkblue;cursor:pointer}
</style>
</head>
<body onload='initialize()'>
	<div id=map></div>
	
    <table>
    <tr>
        <th>Garden</th>

        <th>Latitude</th>

        <th>Longitude</th>
    </tr>
    {% for g in gardens %}
    <tr id={{g.id}} class='g linkOFF'>
        <td>{{ g.name }}</td>

        <td>{{ g.latitude }}</td>

        <td>{{ g.longitude }}</td>
        <td>
            {% for tree in g.foodtree_set.all %}
                {{tree.food_type}}
            {% endfor %}
        </td>

    </tr>
    {% endfor %}
	</table>
    {% include 'garden/search_criteria.html' %}
</body>



</html>
