<form method="post" action="/search_criteria/">
    {% csrf_token %}
    <p><b>SEARCH</b></p>
{#    Type Keyword in the Name of the Garden (leave blank to list all):#}
{#    <br>#}

<input type="text" name="name" value="Type Keyword in the Name of the Garden (leave blank to list all)" size="80">
{#<br>#}
{##}
{#    Select Fruit in Garden (leave unselected for any type of fruit)#}
{#<br>#}
<select name="foods">
  <option value="all">Any Fruit</option>

{% for food in food_types %}
  <option value={{ food }}>{{ food }}</option>
{% endfor %}
</select>

{#<br>#}

<input type="submit" class="btn" value="Search" >
</form>
