
{##}
{#<form method="POST" id="updateuser-form">#}
{#    <div id="log"></div>#}
{#    <div id="print_users">#}
{##}
{#  </div>#}
{#    <input type="submit" value="All Users" id="update-button">#}
{#</form>#}


{% comment %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
{% load staticfiles %}
<script src="{% static "admin/update_users.js" %}"></script>

<script>
$("#updateuser-form").submit(function(event) {
    event.preventDefault();
    clickedUpdate();
});

function setLog(r) {
    $("#log").html(r);
}

function clickedUpdate() {
    setLog("Please wait...");
    $("#update-button").attr("disabled", "disabled");
    $.ajax({
        url: getImportUrL(),
        type: "POST",
        data: {
            csrfmiddlewaretoken: getCsrfToken()
        },
        //dataType: 'json',
        success: function() {
            setLog("Success!");
            $("#update-button").removeAttr("disabled");

            for (var i in users) {
                //$('#print_users').append(i. + '<br/>');
                setLog("print_users!");
        }

        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.log(jqXHR);
            console.log(textStatus);
            console.log(errorThrown);

            setLog("Error! " + errorThrown);
            $("#update-button").removeAttr("disabled");
        }
    });
    return false;
}



    function getCsrfToken() {
        return '{{ csrf_token }}';
    }
    function getImportUrL() {
        return '{% url "ajax_update_users" %}';
    }
</script>{% endcomment %}
