<html>
<body>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "stylesheet.css" %}">
{% if tweets.statuses|length > 0 %}
<h1>Tweets</h1>
<table>
	<tr>
		<th>User</th>
		<th>Tweet</th>
		<th>Date</th>
	</tr>
{% for tweet in tweets.statuses %}
	<tr>
		<td><b>{{tweet.user.name}} </b>@{{tweet.user.screen_name}}</td>
		<td>{{tweet.text}}</td>
		<td>{{tweet.created_at}}</td>
	</tr>
{% endfor %}
</table>
{% endif %}
{% if tweets.statuses|length == 0 %}
<h1> SORRY, NO TWEETS WERE FOUND ABOUT THIS GARDEN </h1>
{% endif %}
</body>
</html>