body {
    font-family: sans-serif;
    background-color: #d6edae;}
#map {width: 1000px; height: 500px; margin: 0 auto}
#directionsstatus {text-align: center}
#gardens-table {margin: 0 auto}
#search_box {margin: 0 auto;
            text-align:center;}

#login {overflow:auto;}
table, td, th {
    border: 1px solid green;
}

th {
    background-color: green;
    color: #feffcf;
}
#gardens-header {position: relative;}
#gardens-header img {vertical-align: bottom;}
#login {
 position: absolute;
 top: 0;
 right: 0;
}
.button-icon {height: 16px; width: 16px; vertical-align: middle;}
.linkOFF {color: darkblue}
.linkON {color: white; background-color: darkblue;cursor:pointer}
ul.comma-separated {list-style: none; display: inline; padding:0; margin:0}
ul.comma-separated li {display:inline}
ul.comma-separated li:after {content: ","}
ul.comma-separated li:last-child:after {content: ""}

.box-centerside-left-panel
 {
  float:left;
  min-height:100px;
  width:20%;
 }

.box-centerside-right-panel
 {
  float:left;
  min-height:100px;
  width:80%;
 }