{#<!DOCTYPE html>#}
{#<html>#}
{#<head lang="en">#}
{#    <meta charset="UTF-8">#}
{#    <title>Fruit for All</title>#}
{#</head>#}
{##}
{##}
{#<form method="get" action=".">#}
{#    Name of Garden:#}
{#    <br>#}
{#    Note: Search is case-sensitive.#}
{#    <br>#}
{#<input type="text" name="name" >#}
{#<br>#}
{##}
{#    Select Fruits in Garden (press Ctrl key to select multiple fruits):<br>#}
{#    Note: If you select more than one, then gardens with any one of the fruits will be displayed.<br>#}
{##}
{#<select multiple name="fruit" size="10">#}
{#  <option value="all">All</option>#}
{##}
{#{% for food in trees %}#}
{#  <option value={{ food }}>{{ food }}</option>#}
{#{% endfor %}#}
{#</select>#}
{##}
{#<br>#}
{##}
{#<input type="submit" class="btn" value="Search" >#}
{#</form>#}
{##}
{#<a href=".">Refresh</a>#}
{#<table>#}
{#    <tr>#}
{#        <th>Garden</th>#}
{##}
{#        <th>Latitude</th>#}
{##}
{#        <th>Longitude</th>#}
{##}
{#        <th>{Fruit 1: number of trees, Fruit 2: number of trees, ...}</th>#}
{##}
{#        <th>View Map</th>#}
{#    </tr>#}
{#    {% for item in gardens %}#}
{#    <tr>#}
{#        <td>{{ item.name }}</td>#}
{##}
{#        <td>{{ item.latitude }}</td>#}
{##}
{#        <td>{{ item.longitude }}</td>#}
{##}
{#        <td>TODO</td>#}
{##}
{#        <td><form action="..">#}
{#    <input type="search" name="garden_name" value={{  item.name  }} />#}
{#    <button type="submit">Go to Map</button>#}
{#    </form></td>#}
{##}
{#    </tr>#}
{#    {% endfor %}#}
{#</table>#}
{#</html>#}